
<% include ./head %>
        <div class="row"  >
          <div class="col-sm-2"></div>
        
          <div class="col-sm-9" style='text-align: center;'>
          <!------------------------------------------------------>
            <div id='clerkhead' style='width:80%;height:30px;border:1px solid #000000;text-align: center'>
  <%-typename%>分类管理
</div>
<div class="row" style="margin-top: 9px">
          <div class="col-sm-2"></div>
          <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value='添加<%-typename%>'  data-toggle="modal" data-target="#myModal"/>
          </div>
          <div class="col-sm-7"></div>
</div>
<table class="table table-hover" align="center">
  <caption>食品列表</caption>
  <thead>
    <tr>
      <td>类别</td>
      <td>食品</td>
      <td>好评度</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% rs.forEach(function(item){ %>
    <tr>
      <td><%-item.typename%></td>
       <td><%-item.menusname%></td>
      <td> <%-item.praise %>  </td>
                  
      <td>
        <a href='#'>修改</a>&nbsp;
        <a href='#'>删除</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<!-- 模态框（Modal） -->
<script>
  function onAddClerk(){
    return true;
  }


</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  style="width: 80%; margin: auto; ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">添加<%-typename%></h4>
            </div>
            <div id='mbody' class="modal-body" style="width: 100%;">
        
        <form class="form-horizontal" name='childmenuForm' method='post' action='./addChildMenu' onsubmit='return onAddClerk()' enctype="multipart/form-data" >

        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label"> 食品类别</label>
            <div class="col-sm-10">
         <input type="text" class="form-control"  value="<%-typename%>" name='typename' readonly>
          </div>
          </div>
       
        <input type="hidden" class="form-control"  value="<%-typeid%>" name='typeid' >
            <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label"> 食品名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  placeholder="请输入食品名称" name='menusname'>
            </div>
          </div>
       
         
          

            <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">原价</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="costprice" placeholder="请输入原价" step='0.01'>
            </div>
          </div>

           <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">现价</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="currentprice" placeholder="请输入现价" step='0.01'>
            </div>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-sm-4 control-label"> 请选择食品图片</label>
            <div class="col-sm-8">
              <input type="file" name="menusimg"  onchange="updImg2(this,'goodsImgShow')">
            </div>
          </div>

           <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">食品介绍</label>
            <div class="col-sm-10">
                         <% include ueditor %>
            </div>
          </div>
        
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">添加</button>
            </div>
          </div>
        </form>

              <!--------------------------------------------- -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

          <!----------------------------------------------------- -->
          </div>
          <div class="col-sm-1"></div>
        </div>
</body>
</html>